<!DOCTYPE html>
<html>
  <head>
    <title>Exercises</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='images' href="/public/images/"/>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        |
         <a href="/exercises">Current Exercises</a>
        |
         <a href="/exercises/new">New Workout</a>
        |
        <a href="/api">Create Workout</a>
        |
    </nav>
