<%- include('./partials/header') %>
<div class="title-page">
    <h1>RepOne</h1>
    <p>Welcome to a new generation of exercise</p>
</div>
    <img src="../public/images/stock7.jpg" class="title_img">
<%- include('./partials/footer') %>